:root {
  --background-color: #fff;
  --background-light: #efefef;
  --shadow-color: #00000033;
  --primary-color: #ff0056;
  --primary-color-header: #ffd6e3;
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
  @return calc($duration * var(--animation-speed));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

img {
  object-fit: cover;
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.9em 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.3em;
  cursor: pointer;
  box-shadow: 0 3px 5px var(--shadow-color);
  &:hover {
    box-shadow: 0 2px 3px var(--shadow-color);
  }
}
@import "partials/navbar.scss";
.main {
  padding-block: 3vw;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
  flex-wrap: wrap;
  .title {
    font-size: 2.8em;
    color: var(--text-color);
    margin-bottom: 0.25em;
    font-weight: 900;
  }
  .info {
    color: var(--text-light);
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.3;
    letter-spacing: 1px;
  }
  .col {
    width: 50%;
  }
}
body {
  font-size: var(--font-size);
  margin-top: 55px;
}

.container {
  padding-inline: 19vw;
}

@import "partials/hero-section";
@import "partials/improve-section.scss";

@import "partials/quote-section";

.section.chief-section {
  display: block;
}
.custom-image {
  height: 0;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.top-chiefs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5em;
  margin-top: 2em;
}
.chief-card {
  display: flex;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
  img {
    height: 100%;
    width: 120px;
    border-radius: 5px;
  }
  .card-info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 1.2em;
    padding-bottom: 0.5em;
    .chief-card-name {
      font-weight: bold;
      font-size: 1.5em;
      color: var(--text-color);
    }
    .chief-count,
    .chief-cuisine {
      color: var(--text-light);
    }

    .chief-icons {
      font-size: 1.2em;
      svg {
        margin-right: 0.5em;
        &:nth-child(1) {
          color: #0063f7;
        }
        &:nth-child(2) {
          color: #13b4ff;
        }
        &:nth-child(3) {
          color: #ff0056;
        }
      }
    }
  }
}

.hero-section{
  display: flex;
}

.hero-section.img{
  width: 100%;
}


.footer {
  background-color: #0f0f0f;
  color: #fff;
  padding-block: 3em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1em;
  .footer-section {
    p {
      margin-bottom: 0.5em;
      opacity: 0.7;
    }
    p.title {
      opacity: 1;
      font-weight: bold;
      font-size: 1.1em;
      margin-bottom: 1em;
    }
  }
}

 
@import "partials/animations.scss";

@media screen and (max-width: 1280px) {
  .container {
    padding-inline: 16vw;
  }
  .section {
  display: flex;
  }
}
@media screen and (max-width: 1050px) {
  .container {
    padding-inline: 12vw;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-inline: 6vw;
  }

  .section {
    .col {
      width: 100%;
      padding: 0 !important;
      text-align: center;
      margin-bottom: 2em;
    }
  }
  .skill-item {
    display: inline-block;
    margin: 0.75em;
  }

  .section.improve-skills .btn {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .section.hero-section {
    display: flex;
    // flex-direction: column;
    img{
      width: 100%;
    }
  }
  .navbar {
    .nav-links {
      display: none;
    }
    .sidebar-btn {
      display: block;
    }
  }
  .chief-card {
    box-shadow: 0 5px 6px var(--shadow-color);
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
    .footer-section:nth-child(1) {
      grid-column: span 4;
    }
    .footer-section:nth-child(2),
    .footer-section:nth-child(3) {
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-inline: 4vw;
  }
}
